
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/nunito/Nunito-VariableFont_wght.ttf');
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fafafa;
}
html *{
    font-family: 'Nunito';
    font-weight: 600;
}

section#card-sec{
    padding: 12rem 0 ;
}
section#home{
    background-image: url('../images/image2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.fs-tagline{
    font-size: 4rem;
    font-weight: 800;
}
.gradient{
    background: linear-gradient(90deg, #FF8444 0%, #EE641C 100%);
}